/* Estilos para el contenedor principal */
.homenav {
    background-color: #e7cff7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilos para el texto de bienvenida */
  nav p {
    font-size: 18px;
    font-weight: lighter;
  }
  
  /* Estilos para el botón de inicio de sesión y cierre de sesión*/
  nav button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #cfe9f7;
    color: #6c03a9;
    box-shadow: 0.05cm 0.05cm 3px #fae57e; /*el 0 0 es para que no se mueva la sombra en el eje x y y*/
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.4s ease;
  }
  
  nav button:hover {
    background-color: #b3e4ff;
  } 
  
  /* Estilos para el botón de inicio de sesión cuando no hay un usuario autenticado */
  nav button.login-button {
    background-color: #2196f3;
  }
  
  nav button.login-button:hover {
    background-color: #1e87db;
  }
  
  /* Estilos para el contenedor principal*/
.loginmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e7cff7;
  } 
  
  /* Estilos para la sección de inicio de sesión*/
  .loginsection {
    background-color: #d8f7fb;
    padding: 20px;
    border-radius: 5px;
  } 
  
  /* Estilos para el título*/
  .maintitulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  } 
  
  /* Estilos para el formulario de inicio de sesión */
  section form {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para los campos de entrada */
  section form div {
    margin-bottom: 15px;
  }
  
  section form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #b74ff3;
  }
  
 .loginInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  /* Estilos para los botones de inicio de sesión */
  section form button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #c491ef;
    color: #fff;
    border: 4px solid #d8f7fb;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  section form button:hover {
    background-color: #80c4f1;
  }
  
  /* Estilos para el enlace de registro */
  section p.text-sm {
    font-size: 14px;
    color: #9121f3;
    text-align: center;
    margin-top: 10px;
  }
  
  section p.text-sm a {
    color: #4e8ff8;
    text-decoration: underline;
  }
  
  .todolistCard{
    background-color: #d8f7fb;
    padding: 100px;
    text-align: center;
    height: 400px;
    border: 1px solid #65e2f3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .todoboton{
    padding: 40px 100px;
    font-size: 20px;
    background-color: #c491ef;
    color: #fff;
    border: 4px solid #d8f7fb;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    margin-top: 10px;
  }
  .memoCard{
    background-color: #d8f7fb;
    padding: 100px;
    border-radius: 5px;
    text-align: center;
    height: 400px;
    border: 1px solid #65e2f3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .memoboton{
    padding: 40px 100px;
    font-size: 20px;
    background-color: #c491ef;
    color: #fff;
    border: 4px solid #d8f7fb;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    margin-top: 10px;
  }

  .todonav {
    background-color: #e7cff7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
