*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #a4daf5, #cbbef5);
}*/

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background-color: rgb(165, 228, 249);
    padding: 5px;
    perspective: 800px;
}
.card{
    background-color: aliceblue;
    height: 122px;
    width: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.3s ease;
}

img{
    height: 120px;
    width: 120px;
    object-fit: cover;
}
    
.memocontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 228, 249);
    gap: 5px;
    /*background: linear-gradient(to right, #a4daf5, #cbbef5);*/
}

.score-container{
    color: #654484;
}

.score{
    margin-bottom: 5px;
}

.back{
    background: url("https://drive.google.com/uc?export=download&id=1sic5q_CyVi-HR5sybSE7qfUlVUSf_eTi");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    cursor: pointer;
}


.card.open{
    transform:rotateY(-180deg);
}